@model MorzeProgramm.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<h2>Регистрация</h2>

<form asp-action="Register" method="post">
    <div>
        <label asp-for="Nickname"></label>
        <input asp-for="Nickname" />
        <span asp-validation-for="Nickname"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit">Зарегистрироваться</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
