@model Registration
@{
    ViewData["Title"] = "Главная страница сайта";
}

<h1>Главная страница сайта</h1>

<form method="post" asp-controller="Registration" asp-action="Home">


    <input type="submit" value="На страницу регистрации" />
</form>

